$flexite("#modal").modal("hide");
$flexite('body').removeClass('modal-open');
$flexite('.modal-backdrop').remove();
= render 'flexite/shared/show_flash'
var $tree = $flexite("#tree");
window.tree = new Tree($tree);
tree.init();
$flexite('#section-2').html('');
$flexite('#section-3').html('');
